<div class="container">
    <div class="row m-5">
        <div class="col-md-12">
            <h2>Update Employee</h2>
        </div>
        <div class="col-md-9 mt-2">
            <form class="row g-3" [formGroup]="updateEmployeeForm" (submit)="updateEmployee()">

                <!-- *********************************************************** First Name *********************************************************** -->
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name :</label>
                    <div class="input-group"
                        [ngClass]="{'border' : true , 
                                                        'border-danger': updateEmployeeForm.get('firstName')?.invalid && updateEmployeeForm.get('firstName')?.dirty,
                                                        'border-success': updateEmployeeForm.get('firstName')?.valid && updateEmployeeForm.get('firstName')?.dirty}">
                        <span class="input-group-text" id="basic-addon1"
                            *ngIf="updateEmployeeForm.get('firstName')?.dirty">
                            <i *ngIf="updateEmployeeForm.get('firstName')?.dirty"
                                [ngClass]="{
                                                                        'bi': true,
                                                                        'bi-check-circle-fill text-success': updateEmployeeForm.get('firstName')?.valid,
                                                                        'bi-x-circle-fill text-danger': updateEmployeeForm.get('firstName')?.invalid }">
                            </i>


                        </span>
                        <input type="text" class="form-control no-inner-border" formControlName="firstName"
                            id="firstName" placeholder="First Name Here...... ">
                    </div>

                    <div *ngIf="updateEmployeeForm.get('firstName')?.invalid && updateEmployeeForm.get('firstName')?.dirty"
                        class="error-message">
                        <i class="bi bi-info-circle-fill text-danger"></i>
                        first name is required
                    </div>
                </div>
                <!-- *********************************************************** Last Name *********************************************************** -->
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name :</label>
                    <div class="input-group"
                        [ngClass]="{'border' : true , 
                                                        'border-danger': updateEmployeeForm.get('lastName')?.invalid && updateEmployeeForm.get('lastName')?.dirty,
                                                        'border-success': updateEmployeeForm.get('lastName')?.valid && updateEmployeeForm.get('lastName')?.dirty}">
                        <span class="input-group-text" id="basic-addon1"
                            *ngIf="updateEmployeeForm.get('lastName')?.dirty">

                            <i *ngIf="updateEmployeeForm.get('lastName')?.dirty"
                                [ngClass]="{
                                                                        'bi': true,
                                                                        'bi-check-circle-fill text-success': updateEmployeeForm.get('lastName')?.valid,
                                                                        'bi-x-circle-fill text-danger': updateEmployeeForm.get('lastName')?.invalid }">
                            </i>

                        </span>
                        <input type="text" class="form-control no-inner-border" id="lastName" formControlName="lastName"
                            placeholder="Last Name Here...... ">

                    </div>
                    <div *ngIf="updateEmployeeForm.get('lastName')?.invalid && updateEmployeeForm.get('lastName')?.dirty"
                        class="error-message">
                        <i class="bi bi-info-circle-fill text-danger"></i>
                        last name is required
                    </div>
                </div>

                <!-- *********************************************************** Email *********************************************************** -->
                <div class="col-12 ">
                    <label for="email" class="form-label">Email :</label>

                    <div class="input-group"
                        [ngClass]="{'border' : true , 
                                                        'border-danger': updateEmployeeForm.get('email')?.invalid 
                                                        && (updateEmployeeForm.get('email')?.dirty || updateEmployeeForm.get('email')?.touched),
                                                        'border-success': updateEmployeeForm.get('email')?.valid && (updateEmployeeForm.get('email')?.dirty || updateEmployeeForm.get('email')?.touched)}">


                        <span class="input-group-text" id="basic-addon1"
                            *ngIf="updateEmployeeForm.get('email')?.dirty || updateEmployeeForm.get('email')?.touched">
                            <i [ngClass]="{
                                        'bi': true,
                                        'bi-check-circle-fill text-success': updateEmployeeForm.get('email')?.valid,
                                        'bi-x-circle-fill text-danger': updateEmployeeForm.get('email')?.invalid
                                }"></i>
                        </span>
                        <input type="email" class="form-control no-inner-border" id="email"
                            placeholder="example@email.com" formControlName="email">
                    </div>

                    <div *ngIf="updateEmployeeForm.get('email')?.invalid && updateEmployeeForm.get('email')?.dirty && updateEmployeeForm.get('email')?.errors?.['required']"
                        class="error-message">
                        <i class="bi bi-info-circle-fill text-danger"></i>
                        email is required
                    </div>


                    <div *ngIf="updateEmployeeForm.get('email')?.invalid && updateEmployeeForm.get('email')?.dirty && updateEmployeeForm.get('email')?.errors?.['email']"
                        class="error-message">
                        <i class="bi bi-info-circle-fill text-danger"></i>
                        valid email is required
                    </div>

                </div>

                <!-- *********************************************************** Position *********************************************************** -->
                <div class="col-12">
                    <label for="position" class="form-label">Position:</label>
                    <input type="text" class="form-control" id="position" placeholder="Position Here...... "
                        formControlName="position">
                </div>

                <!-- *********************************************************** Actions *********************************************************** -->
                <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn btn-success"
                                [disabled]="!updateEmployeeForm.valid">Update</button>
                        </div>
                        <div class="col-3">
                            <button type="button" (click)="cancelUpdate()" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>